body{
    background-color: rgb(0, 0, 0);
}

.pato{
    color: aqua;
}
.hpato2{
    color: rgb(255, 0, 0);
}
#patinho{
    text-align: center;
    color: blueviolet;
}

 /* usar id "#"ou class "." */